#header-logo {
   background: url("../extensions/images/{{logo_img | basename}}");
   width: 193px;
   height: 41px;
   margin-top: -3px;
}

#openshift-logo.navbar-brand{
   width: 193px;
   height: 42px;
   padding-left: 20px;
   padding-top: 1px;
}
